.header {
	width: 700px;
	height: 100px;
	margin-top: 40px;
	
}

.key {
	background-image: url('img/jess_emoji_key-26_small.png');
	background-repeat: no-repeat;
	width: 1000px;
	height: 15%;
	margin-left: 20px;	
}

.words {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 40px;
	margin-left: 40px;
}

.keywords {
	font-size: 20px;
}

.body {
	/*background-color: #ccc;*/
}

.wrapper {
	width: 1500px;
	height: 800px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.screen {
	float: left;
	width: 412px;
	height: 731px;
	margin: 20px 40px 0px 40px;
}

#first_conversation {
	background-image: url('img/jess_animated.gif');
}

#second_conversation {
	background-image: url('img/jess_shower-sex.gif');
}

#third_conversation {
	background-image: url('img/jess_bdsm.gif');
}